@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: poppins;
}
p{
    font-size: 1.3rem;
}
h1{
    font-size: 6rem;

}
h2{
    font-size: 2rem;
    margin-right: 1rem;
    
}
h3{
    font-size: 2rem;
}
.location{
    display: flex;
    border-radius: 12px;
    background: rgba(0,0,0,0.4);
    width:fit-content;
    padding: 0 15px;
}
.app{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0,0,0,0.4);
    color: #ededed;
    padding: 1rem;
    transition: 1000ms ease-in-out;
    transition-property: background;
}
.app.snow{
    background: url("./assets/cold.jpg") no-repeat center/cover;
}
.app.sunny{
    background: url("./assets/sunny.jpg") no-repeat center/cover;
}
.app.rain{
    background: url("./assets/rain.jpg") no-repeat center/cover;
}
.app.cloud{
    background: url("./assets/fog.jpg") no-repeat center/cover;
}

.app::before{
    content:'';
    background: url("./assets/wallpaper.jpg") no-repeat center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    
}
.container{
    max-width: 500px;
    height: fit-content;
    margin: auto;
    position: relative;
    display: flex;
    top:3%;
    flex-direction: column;
    background: rgba(0,0,0,0.4);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 4px 3px 12px 0px black;
    backdrop-filter: blur(1rem);
    
}
.weather-icon{
    width: 60%;
    height: 150px;
    background: rgba(0,0,0,0.4);
    border-radius: 15px;
    display: flex;
    place-content: center;
}
.search{
    text-align: center;
    padding: 1rem;
}
input{
    padding: .7rem 1.9rem;
    font-size: 1.3rem;
    border-radius: 30px;
    border: 1px solid #ededed;
    color: #ededed;
    background: rgba(0,0,0,0.4)
    
}
::placeholder {
    color: #ededed;
}
.top{
    width: 100%;
    margin: 1rem auto;
}
.description{
    position: relative;
    right: -90%;
    top: 30%;
    transform-origin: 0 0;
    transform: rotate(269deg);
}
.time{
    display: flex;
    justify-content:center;
    align-items: center;
    width:100%;
    height: 120px;
    border-radius: 12px;
    background:rgba(0,0,0,0.4);
    font-size: 5rem;
    gap: 10px;
}
.hours{
    display: flex;
    align-items: center;
}
.minutes{
    display: flex;
    font-size: 3.5rem;
    height: 100px;
    align-items: center;
}
.bottom{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(0,0,0,0.4);
}
.bold{
    font-weight: 800;
}
.details{
   margin-top: 10px;
}
